<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='editar.css') }}">
    <title>Editar - {{ termo }}</title>
</head>

<body>
    <h1>Editar Termo - {{ termo }}</h1>

    <form method="post" action="{{ url_for('atualizar', termo=termo) }}">
        <label for="termo">Nova Definição:</label>
        <input type="text" name="termo" value="{{ termo }}" required autocomplete="off" autofocus>
        <label for="definicao">Nova Definição:</label>
        <input type="text" name="definicao" value="{{ definicao }}" required autocomplete="off">
        <button type="submit">Atualizar</button>
    </form>
</body>

</html>
